# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv(filepath_or_buffer='data/listings.csv')
df.shape

(46527, 16)

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
price_condition = df['price'] < 100
df[price_condition].shape[0]
#There are 22778 listings with less than 100, because there are that many rows

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn_condition = df['neighbourhood_group'] == 'Brooklyn'
df[brooklyn_condition].shape[0]

#There are 18632 listings in Brooklyn

18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df[brooklyn_condition & price_condition].shape[0]

#there are 10473 listings that fit both of these conditions

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
owner_names = ['Michael', 'David', 'John', 'Daniel']
owner_condition = df.host_name.isin(owner_names)
print(df[owner_condition].shape[0])

#There are 1258 hosts named Daniel, David, John, or Michael

1258

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
adjusted_price_condition = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = np.where(adjusted_price_condition, df.price + 100, df.price)
df[adjusted_price_condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46484,44746041,"Modern, light-filled apartment in Wiliamsburg",3317380,Marge,Brooklyn,Williamsburg,40.71372,-73.95407,Entire home/apt,250,7,0,NaN,NaN,1,164,350
46489,44749327,Luxury 3 bedroom apartment Williamsburg ROOF P...,334780877,Pedro & Maria,Brooklyn,Williamsburg,40.70902,-73.95610,Entire home/apt,464,4,0,NaN,NaN,1,344,564
46493,44753863,"Bright, spacious East Williamsburg loft",38062951,Nathan,Brooklyn,Williamsburg,40.70372,-73.93492,Entire home/apt,100,7,0,NaN,NaN,1,146,200
46513,44800276,"Williamsburg 1 Bedroom, Spacious and Classy",361034257,Angelo + Amirah,Brooklyn,Williamsburg,40.71283,-73.95400,Entire home/apt,180,7,0,NaN,NaN,1,364,280
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private_room = df['room_type'] == 'Private room'
shared_room = df['room_type'] == 'Shared room' 

private_room_count = df[private_room].shape[0]
shared_room_count = df[shared_room].shape[0]

percent_private = private_room_count/df.shape[0] * 100
percent_shared = shared_room_count/df.shape[0] * 100

print('There are ' + str(percent_private) + '% of the listings are private')
print('There are ' + str(percent_shared) + '% of the listings are shared')

There are 45.444580566122895% of the listings are private
There are 2.12134889419047% of the listings are shared

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
df.groupby('neighbourhood_group')['neighbourhood_group'].count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: neighbourhood_group, dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group')['price'].agg(['min','max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [13]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.
double_gb = df.groupby(['room_type', 'neighbourhood_group']).price.mean()
double_gb

room_type        neighbourhood_group
Entire home/apt  Bronx                  138.004819
                 Brooklyn               171.587687
                 Manhattan              231.335572
                 Queens                 150.168900
                 Staten Island          151.720930
Hotel room       Brooklyn               147.300000
                 Manhattan              292.515670
                 Queens                 139.058824
Private room     Bronx                   68.419668
                 Brooklyn                71.291189
                 Manhattan              128.277069
                 Queens                  69.972564
                 Staten Island           70.312883
Shared room      Bronx                   66.391304
                 Brooklyn                57.870091
                 Manhattan              111.735084
                 Queens                  89.891892
                 Staten Island           46.000000
Name: price, dtype: float64

In [14]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
df.groupby(['room_type','neighbourhood_group']).price.agg(['min','max','mean','median','std'])

                                     min    max        mean  median  \
room_type       neighbourhood_group
Entire home/apt Bronx                 25   1404  138.004819     103
                Brooklyn              20  10000  171.587687     135
                Manhattan              0  10000  231.335572     165
                Queens                10  10000  150.168900     115
                Staten Island         39   1200  151.720930     111
Hotel room      Brooklyn               0    399  147.300000     129
                Manhattan              0   2211  292.515670     210
                Queens                 0    249  139.058824     149
Private room    Bronx                 16    700   68.419668      55
                Brooklyn              10   2500   71.291189      60
                Manhattan             10  10000  128.277069      80
                Queens                18   9000   69.972564      55
                Staten Island         20    800   70.312883      55
Shared room     Bronx                 20    800   66.391304      44
                Brooklyn              15   1500   57.870091      36
                Manhattan             10  10000  111.735084      60
                Queens                14   3000   89.891892      40
                Staten Island         19     82   46.000000      38

                                            std
room_type       neighbourhood_group
Entire home/apt Bronx                126.032106
                Brooklyn             236.732843
                Manhattan            410.306439
                Queens               252.606739
                Staten Island        147.518392
Hotel room      Brooklyn              91.153206
                Manhattan            315.924085
                Queens                50.743806
Private room    Bronx                 57.337866
                Brooklyn              69.023165
                Manhattan            448.677306
                Queens               163.814468
                Staten Island         70.759593
Shared room     Bronx                114.442703
                Brooklyn              92.217618
                Manhattan            502.728868
                Queens               275.675158
                Staten Island         28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [15]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv('data/prices.csv')
df_listings = pd.read_csv('data/n_listings.csv', sep = ';')

In [16]:
# 2. Do join that keeps all the records for each table.
new_dfjoin = pd.merge(df_prices, df_listings, on = 'neighbourhood_group', how ='outer')
new_dfjoin.to_csv('data/joined.csv', index=False)

pd.read_csv('data/joined.csv')

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN
5          LongIsland          NaN      4121.0

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [17]:
#  1. Who was won Album of the Year in 2016?
grammy_df = pd.read_csv('data/grammys.csv')
grammy_df.head()

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [18]:
# 2. Who won Best Rap Album in 2009?
year_condition = grammy_df['year'] == 2009
category_condition = grammy_df['category'] == 'Best Rap Album'
winner_condition = grammy_df['winner'] == True
grammy_df[category_condition & year_condition & winner_condition]

#Lil' Wayne won Best Rap Album in 2009

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [19]:
# 3. How many awards was Kendrick Lamar nominated for, and how many did he win...?
def lamar_condition(workers):
    if 'Kendrick Lamar' in str(workers):
        return True
    else:
        return False

grammy_df['has_lamar'] = grammy_df.workers.apply(lamar_condition) | grammy_df.nominee.apply(lamar_condition)
print(grammy_df[grammy_df['has_lamar'] == True].shape[0])
print(grammy_df[(grammy_df['has_lamar'] == True) & (grammy_df['winner'] == True)].shape[0])
#20 nominations and 11 wins

22
12