# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [8]:
# Load data here
df = pd.read_csv(filepath_or_buffer='data/listings.csv')
df.shape

(46527, 16)

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [28]:
# 1. How many listings are there with a price less than 100? 
price_condition = df['price'] < 100
df[price_condition].shape[0]
#There are 22778 listings with less than 100, because there are that many rows

22778

In [48]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn_condition = df['neighbourhood_group'] == 'Brooklyn'
df[brooklyn_condition].shape[0]

#There are 18632 listings in Brooklyn

18632

In [25]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df[brooklyn_condition & price_condition].shape[0]

#there are 10473 listings that fit both of these conditions

10473

In [47]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
owner_names = ['Michael', 'David', 'John', 'Daniel']
owner_condition = df.host_name.isin(owner_names)
print(df[owner_condition].shape[0])

#There are 1258 hosts named Daniel, David, John, or Michael

1258

In [29]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
adjusted_price_condition = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = np.where(adjusted_price_condition, df.price + 100, df.price)
df[adjusted_price_condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46484,44746041,"Modern, light-filled apartment in Wiliamsburg",3317380,Marge,Brooklyn,Williamsburg,40.71372,-73.95407,Entire home/apt,250,7,0,NaN,NaN,1,164,350
46489,44749327,Luxury 3 bedroom apartment Williamsburg ROOF P...,334780877,Pedro & Maria,Brooklyn,Williamsburg,40.70902,-73.95610,Entire home/apt,464,4,0,NaN,NaN,1,344,564
46493,44753863,"Bright, spacious East Williamsburg loft",38062951,Nathan,Brooklyn,Williamsburg,40.70372,-73.93492,Entire home/apt,100,7,0,NaN,NaN,1,146,200
46513,44800276,"Williamsburg 1 Bedroom, Spacious and Classy",361034257,Angelo + Amirah,Brooklyn,Williamsburg,40.71283,-73.95400,Entire home/apt,180,7,0,NaN,NaN,1,364,280
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155

In [46]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private_room = df['room_type'] == 'Private room'
shared_room = df['room_type'] == 'Shared room' 

private_room_count = df[private_room].shape[0]
shared_room_count = df[shared_room].shape[0]

percent_private = private_room_count/df.shape[0] * 100
percent_shared = shared_room_count/df.shape[0] * 100

print('There are ' + str(percent_private) + '% of the listings are private')
print('There are ' + str(percent_shared) + '% of the listings are shared')

There are 45.444580566122895% of the listings are private
There are 2.12134889419047% of the listings are shared

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [8]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
#  1. Who was won Album of the Year in 2016?

In [20]:
# 2. Who won Best Rap Album in 2009?

In [21]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?